.main-bar{
    width: calc(100% - 300px - 24px );
    float: left;
    margin: 25px 0px;
    padding: 0px;
}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1{
    font-weight: 400;
}

.main-bar-header .ask-btn{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    border: none;
    text-decoration: none;
    transition: 0.3s;

}

.main-bar-header .ask-btn:hover{
    background-color: #0086db;
}

.display-question-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fdf7e2;
    border-bottom: solid 1px #edeff0;
}

.display-question-container .display-votes-ans{
    padding: 20px;

}
.display-question-container .display-votes-ans{
    margin: 0%;
    text-align: center;

}

.display-question-details{
    flex-grow: 1;
    padding: 0px 20px;

}

.question-title-link{
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}

.question-title-link:hover{
    color: #009dff;

}
.display-question-details p{
    padding: 4px;
    margin: 0%;

}

.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
}
.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.display-tags-time .display-tags p{
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    background-color: #edeff0;
    color: #39739d;
}
.display-tags-time .display-tags{
    font-size: 13px;
}

/* @media screen and (max-width: 600px) {
    .main-bar {
        width: 100%;
        height: 100px;
        background-color: rgb(180, 164, 164);
        
    }
    .display-question-container {       
        background-color: #d0d6f7;
    }
    
} */

@media (min-width: 375px) {
    .main-bar-header h1, .main-bar-header button {
        font-size: 17px;
    }
}

@media (min-width: 576px) {
    .main-bar-header h1, .main-bar-header button {
        font-size: 20px;
        justify-content: space-evenly;
    }
}

@media (max-width: 576px) {
    /* .display-votes-ans {
        display: none;
    } */
    
}

@media (max-width: 768px) {
    .main-bar {
        width: 100%;
    }
    .main-bar-header {
        margin-top:  15px;
    }
    .display-question-container {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .main-bar {
        width: calc(100% - 275px);
    }
    .main-bar-header {
        margin-top: 13px;
    }
}

@media (max-width: 1200px) {

}
@media (max-width: 1400px) {

}